:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container {
  	max-width: 800px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	margin: 30px 0 10px;
	text-align: center;
}
h2 {
	margin: 50px 0;
	font-weight: 900;
	font-size: 5rem;
	text-align: center;
}

#board {
	width: 535px;
	/* width: 423px; */
	/* height: 415px; */
	margin: 40px auto;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5px;
}

.cell {
	background-color: #fff;
	width: 32px;
	height: 32px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell p {
	color: black;
	font-weight: 900;
	pointer-events: none;
}

.cell[data-is-bomb="0"]::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
}


.cell[data-is-bomb="1"] {
	background-color: black;
}

.cell[data-flagged="true"] {
	background-color: purple;
}
.cell[data-flagged="true"]::after {
	background-color: purple;
}

.cell[data-is-checked="1"] {
	background-color: white;
}

.cell[data-is-bomb="1"] p {
	display: none;
}

.cell.safe::after {
	content: unset;
	/* background-color: green; */
}

.cell.boom {
	background-color: red!important;
}